@charset "UTF-8";

html,
body {
  height: 100vw;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rgb {
  font-size: 3rem;
  line-height: 1;
  background: linear-gradient(-45deg, gray, #ccc);
  -webkit-background-clip: text;
  color: transparent;
}

.code {
  color: #666;
}

.name {
  color: #666;
}

.box {
  width: 300px;
  padding: 30px;
  background-color: lightgray;
  border-radius: 5px;
  border: 10px solid #ccc;
  box-shadow: 0 2px 4px #666;
}
